body {
    background-color:black;
    color:#db9034;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

#currentView{
    border-style: dotted;
    border-bottom: thick #f70411;
}

header, main, nav, footer {
    text-align: center;
}

nav a{  /*links within "nav" container */

    padding:15;
    padding-bottom:4px;
    font-size: 2em;
    text-decoration: none; 
    color: gray;
}

nav a:hover {   
    border-bottom:2px red solid;
    font-size: 3em;
    transition: .5s;   
}
/*
#me, #welcomeText{
    float:left;
}

#welcomeText{
    text-align: left;
}
*/
footer{
    color:white;
    font-size: .9em;
    clear:left;
}

table{
    margin: 0px auto;
}

td{
    padding-right: 10px;
    font-size: 1.3em;
}

td strong{
    color: black;
}

#table-header{
    background-color: #f47902;
}

.table-row{
    background-color: black;
}

ul{
    display: block;
    text-align: left;
    padding-left: 200px;
}

.hobby{
    color:red;
}