body {
    background-color:black;
    color:white;
    font-family: 'Aldrich';
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=70); 
}

.background {
  background: url(https://watermark.lovepik.com/photo/40007/8780.jpg_wh1200.jpg);
  border: 2px solid black;
}

div.transbox p {
  margin: 4.5%;
  font-weight: bold;
  font-size: 19px;
  color: #000000;
}

h1{
    font-family: 'Aldrich';
    color: #f44242;
    font-size: 4em;
    margin-bottom: 0px;
}

#currentView{
    
    border-bottom: thin dotted #f44242;
}


 header, nav, footer, main {
    text-align: center;
}

#navView
{
    width: 50%;
}


.topNav a{  

    padding: 14px 16px;
    padding-bottom:4px;
    font-size: 2em;
    text-decoration: none;  
    color: white;
}

.topNav a:hover {    
  border-bottom:2px blue solid;
  font-size: 3em;
  transition: .5s;    
}

footer{
    color:green;
    font-size: .9em;
    clear:left;
}



